<!-- fevicon -->
<link rel="shortcut icon" href="/assets//assets/images/favicon.ico">

<!-- Bootstrap css -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />

<!-- animation -->
<!-- <link rel="stylesheet" href="/assets/css/aos.css" /> -->

<!-- slider -->
<link rel="stylesheet" href="/assets/css/swiper-bundle.min.css" />

<!-- Icon -->
<link rel="stylesheet" href="/assets/css/materialdesignicons.min.css" type="text/css" />

<!-- css -->
<link rel="stylesheet" href="/assets/css/style.min.css" type="text/css" />

    <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="71">

        <nav class="navbar navbar-expand-lg fixed-top navbar-white navbar-custom sticky" id="navbar">
            <div class="container">

                <!-- LOGO -->
                <a class="navbar-brand text-uppercase" href="index-1.html">
                    <!-- <img class="logo-light" src="/assets/images/logo-light.png" alt="" height="5">
                    <img class="logo-dark" src="/assets/images/logo-dark.png" alt="" height="5"> -->
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="mdi mdi-menu"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto" id="navbar-navlist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#review">Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mb-3 mb-lg-0" href="#contact">Contact</a>
                        </li>
                    </ul>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-white nav-btn" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
                        Sign Up
                    </button>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
          <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-close">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body p-5">
                            <div class="text-center mb-5">
                                <h4 class="modal-title" id="exampleModalLongTitle">Sing Up</h4>
                                <p class="fs-14">Already have an account? <a href="javascript:void(0)">Log in here</a></p>
                            </div>
                            <div class="d-grid gap-3">
                                <a class="btn btn-outline-dark btn-lg" href="javascript:void(0)">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="avatar avatar-xs me-2" src="/assets/images/google.jpg" alt="Image Description">
                                    Sign up with Google
                                </span>
                                </a>
                                <a class="btn btn-primary btn-lg" href="javascript:void(0)">Sign up with Email</a>
                                <div class="text-center">
                                    <p class="mb-0 fs-13">By continuing you agree to our <a class="text-primary" href="javascript:void(0)">Terms and Conditions</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-block text-center px-5 pb-5">
                            <p class="footer-text mb-4">Trusted by the world's best teams</p>
                            <div class="mx-auto">
                              <div class="row justify-content-between">
                                <div class="col">
                                  <img class="img-fluid" src="/src/assets//assets/images/github.svg" alt="Logo">
                                </div>
                                <div class="col">
                                    <img class="img-fluid" src="/assets/images/gitlab.svg" alt="Logo">
                                </div>
                                <div class="col">
                                    <img class="img-fluid" src="/src/assets//assets/images/linkedin.svg" alt="Logo">
                                </div>
                                <div class="col">
                                    <img class="img-fluid" src="/assets/images/instagram.svg" alt="Logo">
                                </div>
                              </div>
                            </div>
                            <!-- End Row -->
                          </div>
                    </div>
                </div>
            </div>
        <!-- End modal -->

        <div class="overflow-hidden-x">
            <!-- Start Home -->
        <section class="section home home-4" id="home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="home-heading">
                            <h1 class="mb-3 text-white">Welcome to <span class="text-warning">e-Hakeem!</span> Your AI-Powered Health Companion </h1>
                        </div>
                            <p class="text-white-50 fs-20">Discover personalized healthcare solutions and informed wellness with e-Hakeem</p>
                        <div class="home-btn hstack gap-2 flex-column d-sm-block">
                            <a class="btn btn-white me-1" href="javascript:void(0)" (click)="getStarted()">Get Started</a>
                                <!-- <a class="modal-btn" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=".watchvideomodal">
                                    <span class="avatar-sm">
                                        <span class="avatar-title rounded-circle btn-icon bg-white">
                                            <i class="mdi mdi-play"></i>
                                        </span>
                                    </span>
                                </a> -->
                        <!-- Modal -->
                        <div class="modal fade bd-example-modal-lg watchvideomodal" data-keyboard="false" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                                <div class="modal-content home-modal p-1">
                                    <div class="modal-header border-0">
                                        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <video id="VisaChipCardVideo" class="video-box" controls="">
                                        <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                                        <!--Browser does not support <video> tag -->
                                    </video>
                                </div>
                            </div>
                        </div>
                        <!-- END MODAL -->
                        </div>
                    </div><!-- end col-->
                    <div class="col-lg-5">
                        <div class="mt-5 mt-lg-0">
                            <img class="img-fluid" src="/assets/images/home-4.png" alt="">
                            <!-- <img class="img-fluid d-none d-lg-block shape-1" [src]="imageUrl" alt=""> -->
                            <img class="img-fluid d-none d-lg-block shape-2" src="/assets/images/home-parth-2.png" alt="">
                            <img class="img-fluid d-none d-lg-block shape-3" src="/assets/images/home-parth-3.png" alt="">
                            <img class="img-fluid d-none d-lg-block frame" src="/assets/images/frame.png" alt="">
                        </div>
                    </div>

                </div><!-- end row-->
            </div><!--end container-->
            <div class="bottom-img position-absolute bottom-0 start-0">
                <img src="/assets/images/bg-wave.svg" alt="wave shape" class="img-fluid">
            </div>
        </section>
        <!-- End Home -->

        <!-- Start features -->
        <section class="section feature" id="features">
            <div class="container">
                <div class="row my-sm-5 py-5 align-items-center justify-content-between mb-50">
                    <div class="col-lg-6">
                        <div data-aos="fade-right" data-aos-duration="1800">
                            <div class="card bg-transparent border-0 mb-3 mb-lg-0">
                                <img src="/assets/images/feature1.png" class="img-fluid rounded-3" alt=""/>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-5 mb-5">
                        <div data-aos="fade-left" data-aos-duration="1800">
                            <h3 class="feature-heading mb-2">About e-Hakeem</h3>
                            <p class="text-muted">We're dedicated to revolutionize the healthcare experience through the power of AI. Our mission is to provide accessible and accurate medical guidance to individuals, empowering them to make informed decisions about their health. By combining cutting-edge technology with medical expertise, we're redefining how healthcare is delivered in the digital age.

                            </p>
                            <!-- <ul class="feature-list">
                                <li><i class="mdi mdi-checkbox-marked-circle-outline text-primary"></i>Advertising for a trade magazine</li>
                                <li><i class="mdi mdi-checkbox-marked-circle-outline text-primary"></i>Designing marketing materials </li>
                                <li><i class="mdi mdi-checkbox-marked-circle-outline text-primary"></i>Update website content</li>
                            </ul> -->
                            <a class="btn btn-primary" href="javascipt:void(0)">Learn more</a>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="text-center mb-4">
                            <h2 class="heading">How it works</h2>
                            <p class="text-muted fs-17"></p>
                        </div>
                    </div><!-- end col-->
                </div><!-- end row-->
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-7 mt-sm-4">
                        <div data-aos="fade-right" data-aos-duration="1800">
                            <div class="feature-card p-3 py-sm-4 rounded d-flex">
                                <div class="flex-shrink-0">
                                    <i class="mdi mdi-responsive text-primary float-start me-3 h2"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                        <div class="content">
                                            <h5 class="title">Answer Queries</h5>
                                            <p class="text-muted">Respond to targeted health-related questions through our user-friendly MCQ format.</p>
                                            <!-- <a href="javascipt:void(0)" class="text-dark">Read More <i class="mdi mdi-chevron-right"></i></a> -->
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-7 mt-sm-4">
                        <div class="feature-card p-3 py-sm-4 rounded">
                            <i class="mdi mdi-layers-triple-outline text-primary float-start me-3 h2"></i>
                            <div class="content d-block overflow-hidden">
                                <h5 class="title">AI Assessment</h5>
                                <p class="text-muted mt-2">Our cutting-edge AI evaluates your responses, drawing from an extensive medical knowledge repository.</p>
                                <!-- <a href="javascipt:void(0)" class="text-dark">Read More <i class="mdi mdi-chevron-right"></i></a> -->
                            </div>
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-7 mt-sm-4">
                        <div data-aos="fade-left" data-aos-duration="1800">
                            <div class="feature-card p-3 py-sm-4 rounded">
                                <i class="mdi mdi-clipboard-flow-outline text-primary float-start me-3 h2"></i>
                                <div class="content d-block overflow-hidden">
                                    <h5 class="title">Tailored Recommendations</h5>
                                    <p class="text-muted mt-2">Access personalized, data-driven recommendations designed to guide you in exploring potential remedies and care options.</p>
                                    <!-- <a href="javascipt:void(0)" class="text-dark">Read More <i class="mdi mdi-chevron-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
               

                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <div data-aos="fade-right" data-aos-duration="1800">
                            <h3 class="feature-heading">Our AI Expertise</h3>
                            <p class="text-muted">At the heart of e-Hakeem is our state-of-the-art AI engine. Powered by machine learning and natural language processing, our AI continuously learns from medical literature, research papers, and real-world patient data. This enables us to provide you with the latest insights and suggestions tailored to your unique health situation. Trust in technology meets the art of medicine.
                            </p>
                           
                        </div>
                    </div><!-- end col -->
                    <div class="col-lg-6">
                        <div data-aos="fade-left" data-aos-duration="1800">
                            <div class="card bg-transparent border-0">
                                <img src="/assets/images/feature2.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
            </div><!-- end container -->
        </section>
        <!-- end Features -->

        <!-- Start cta -->
        <!-- End cta -->

        <!-- Start Reviews -->
        <!-- End Reviews -->

        <!-- START pricing -->     
        <!-- END pricing -->

        <!-- Start cta -->
        <section class="section cta">
            <marquee behavior="" direction="left"><p class="mb-0">Embark on your transformative journey to better health, where every step you take with e-Hakeem brings you closer to a life of vitality and well-being.</p></marquee>
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-6">
                        <div data-aos="fade-down" data-aos-duration="1800">
                            <div class="cta-heading">Taking the First Step Towards Wellness
                            </div>
                                <p>Your health matters, and it begins with a choice. Start your exploration of comprehensive and personalized health solutions that e-Hakeem offers.</p>
                                <!-- <p class="fs-18">Limited signup only. Order today before the discount period end.</p> -->
                                <a class="btn btn-primary" href="javascript:void(0)" (click)="getStarted()">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End cta -->

        <!-- Start Team -->
        <!-- End Team -->

        <!-- Start contact -->
        <section class="section contact" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <h2 class="heading">Contact Us</h2>
                            <p class="text-muted mt-2 fs-17">Your Questions, Our Care.</p>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
                <div class="row align-items-center gy-3">
                    <!-- <div class="col-lg-6">
                        <div data-aos="fade-right" data-aos-duration="1800">
                            <div class="card">
                                <div class="card-body">
                                    <div class="map">  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" 
                                        width="100%" height="325" style="border: 0" allowfullscreen></iframe>  </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!--end col-->
                    <div class="col-lg-6 mx-auto">
                        <div data-aos="fade-left" data-aos-duration="1800">
                            <form method="post" class="contact-form" name="myForm" onsubmit="return validateForm()">
                                <p id="error-msg"></p>
                                <div id="simple-msg"></div>
                                <div class="row rounded-3 py-3">
                                    <div class="col-lg-12">
                                        <div class="position-relative mb-3">
                                            <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                                            <input name="name" id="name" type="text" class="form-control" placeholder="Enter your name*">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative mb-3">
                                            <span class="input-group-text"><i class="mdi mdi-email-outline"></i></span>
                                            <input name="email" id="email" type="email" class="form-control" placeholder="Enter your email*">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative mb-3">
                                            <span class="input-group-text"><i class="mdi mdi-file-document-outline"></i></span>
                                            <input name="subject" id="subject" type="text" class="form-control" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="position-relative mb-3">
                                        <span class="input-group-text align-items-start"><i class="mdi mdi-comment-text-outline"></i></span>
                                            <textarea name="comments" id="comments" rows="4" class="form-control" placeholder="Enter your message*"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="text-end">
                                            <input type="submit" id="submit" name="send" class="btn btn-primary" value="Send Message">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--end form-->
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!-- End contect -->

        <!-- START FOOTER -->
        <footer class="section footer">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-sm-10 text-center">
                        <!-- <a href="javascript:void(0)"><img src="/assets/images/logo-light.png" height="24" alt=""></a> -->
                        <p class="mx-auto mt-sm-4">Discover personalized healthcare solutions and informed wellness with e-Hakeem</p>
                        <ul class="list-unstyled mb-0 mt-4 social-icon">
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><i class="mdi mdi-linkedin"></i></a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
                <!-- <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="text-center mt-3">
                            <ul class="list-unstyled mb-0">
                                <li class="list-inline-item mx-lg-3 m-2">
                                    <a class="text-white" href="javascript:void(0)">Home</a>
                                </li>
                                <li class="list-inline-item mx-lg-3 m-2">
                                    <a class="text-white" href="javascript:void(0)">About us</a>
                                </li>
                                <li class="list-inline-item mx-lg-3 m-2">
                                    <a class="text-white" href="javascript:void(0)">Order</a>
                                </li>
                                <li class="list-inline-item mx-lg-3 m-2">
                                    <a class="text-white" href="javascript:void(0)">Member</a>
                                </li>
                                <li class="list-inline-item mx-lg-3 m-2">
                                    <a class="text-white" href="javascript:void(0)">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div><!--end container-->
        </footer>
        <!-- END FOOTER -->


        <!-- FOOTER-ALT -->
        <div class="footer-alt pt-3 pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0 text-white fs-15">©
                                <script>document.write(new Date().getFullYear())</script> e-Hakeem. Design by 
                                <i class="mdi mdi-heart text-danger"></i> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER-ALT -->
        </div>

        <!--start back-to-top-->
        <button onclick="topFunction()" id="back-to-top">
            <i class="mdi mdi-arrow-up"></i>
        </button>
        <!--end back-to-top-->

<!--Custom js-->
<script src="js/counter.js"></script>

<!--Bootstrap Js-->
<script src="js/bootstrap.bundle.min.js"></script>

<!-- animation -->
<script src="js/aos.js"></script>

<script src="js/swiper-bundle.min.js"></script>

<!-- contact -->
<script src="js/contact.js"></script>

<!-- Team particles-->
<script src="js/particles.min.js"></script>

<!-- App Js -->
<script src="js/app.js"></script>

</body>
