<nav class="bg-[#f6f6f6]  fixed w-full z-20 top-0 left-0 border-b border-gray-200 ">
    <div class="w-full flex flex-row items-center justify-center  p-4">
        <button>

            <svg class="h-8 w-8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M4 10L3.64645 10.3536L3.29289 10L3.64645 9.64645L4 10ZM20.5 18C20.5 18.2761 20.2761 18.5 20 18.5C19.7239 18.5 19.5 18.2761 19.5 18L20.5 18ZM8.64645 15.3536L3.64645 10.3536L4.35355 9.64645L9.35355 14.6464L8.64645 15.3536ZM3.64645 9.64645L8.64645 4.64645L9.35355 5.35355L4.35355 10.3536L3.64645 9.64645ZM4 9.5L14 9.5L14 10.5L4 10.5L4 9.5ZM20.5 16L20.5 18L19.5 18L19.5 16L20.5 16ZM14 9.5C17.5898 9.5 20.5 12.4101 20.5 16L19.5 16C19.5 12.9624 17.0376 10.5 14 10.5L14 9.5Z"
                        fill="#222222"></path>
                </g>
            </svg>
        </button>
        <ol
            class="flex md:mx-7 w-full items-center  text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
            <li [class.text-teal-600]=" step >= 1" [class.font-bold]=" step == 1"
                class="flex md:w-full items-center text-black-600 dark:text-black-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                <span class="mr-2 hidden md:block"></span>

                <span
                    class="flex items-center min-w-fit after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">

                    Condition Prompt
                </span>
            </li>
            <li [class.text-teal-600]=" step >= 2" [class.font-bold]=" step == 2"
                class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                <span
                    class="flex items-center min-w-fit  after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500">
                    <span class="mr-2 hidden md:block"></span>
                    Symptoms Assessment <span class="hidden sm:ml-2"></span>
                </span>
            </li>

            <li class="flex items-center" [class.text-teal-600]=" step>= 3" [class.font-bold]=" step == 3">
                <span class="mr-2">Herbal</span>
                Solutions
            </li>

        </ol>

    </div>

</nav>